<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon</title>
  </head>
  <body>
    <div>
      <h1><%= name %></h1>

      <ul>
        <li><%= moves[0]%></li>
        <li><%= moves[1]%></li>
        <li><%= moves[2]%></li>
        <li><%= moves[3]%></li>
      </ul>

      <div>
        <img src="<%= sprite %>" />
      </div>
    </div>
  </body>
</html>
